# === PROJECT INFO ===
ORG_NAME=your-proj-name
REPOSITORY_NAME=${ORG_NAME}-infra
BUILD_TARGET=dev

# ===
# BACKEND
# ===
DEFAULT_PORT=8080
AUTH_PORT=8081
PROFILE_PORT=8082

# === auth_db microservice ===
AUTH_DB_DRIVER=postgres
AUTH_DB_HOST=your-proj-name_auth_db
AUTH_DB_PORT=5432
AUTH_DB_NAME=your-proj-name_auth
AUTH_DB_USER=postgres
AUTH_DB_PASSWORD=postgres
AUTH_DB_SSLMODE=disable
AUTH_DB_DSN=${AUTH_DB_DRIVER}://${AUTH_DB_USER}:${AUTH_DB_PASSWORD}@${AUTH_DB_HOST}:${AUTH_DB_PORT}/${AUTH_DB_NAME}?sslmode=${AUTH_DB_SSLMODE} 

# === auth microservice ===
JWT_SECRET_KEY=
SMS_PROVIDER_SENDER_NAME=
SMS_PROVIDER_API_URL=
SMS_PROVIDER_API_KEY=

# === profile_db microservice ===
PROFILE_DB_DRIVER=postgres
PROFILE_DB_HOST=your-proj-name_profile_db
PROFILE_DB_PORT=5432
PROFILE_DB_NAME=your-proj-name_profile
PROFILE_DB_USER=postgres
PROFILE_DB_PASSWORD=postgres
PROFILE_DB_SSLMODE=disable
PROFILE_DB_DSN=${PROFILE_DB_DRIVER}://${PROFILE_DB_USER}:${PROFILE_DB_PASSWORD}@${PROFILE_DB_HOST}:${PROFILE_DB_PORT}/${PROFILE_DB_NAME}?sslmode=${PROFILE_DB_SSLMODE} 

# === gin-gonic settings
GIN_MODE=debug

# === FRONTEND ===
NEXT_PUBLIC_API_BASE_URL=localhost
FRONTEND_PORT=3000